<a href="/pages/create">Create new page</a>
<a href="/">Back to Main page</a>
<div>
	<strong ng-show='!vm.subject'>Loading</strong>
	<div ng-show="vm.subject">
		<table style='font-size:17px'>
			<tr>
				<td>
					<strong ng-bind='vm.subject.name'></strong>
				</td>
				<td> Edit </td>
			</tr>
			<tr ng-repeat='page in vm.subject.pages'>
				<td >
					<a href="" ng-bind='page.title' ng-click='vm.getPage(page.title)'></a>
				</td>
				<td> <a href="" ng-click='vm.edit(page.title)'>Edit</a> </td>
			</tr>
		</table>
	</div>
</div>